html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  color: white;
  font-family: 'Segoe UI', Arial, sans-serif;
}

#app {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr) minmax(0, 1fr);
}

#app>* {
  min-width: 0;
  min-height: 0;
}

#topbar {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
}

.terminal {
  height: 100%;
}